div {
    width: 400px;
    height: 100px;
    background-color: rgb(150, 150, 238);
    margin-bottom: 35px;
    
}

h1 {
    font-size: 15px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}