div {
    width: 250px;
    height: 500px;
    background-color: green;
}

h1 {
    font-size: 15px;
    text-align: center;
}

.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}